<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tic Tac Toe{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Tic Tac Toe</h1>
    </header>

    <div class="center-container">
        {% block content %}
        <!-- The template content will be here -->
        {% endblock %}
    </div>
</body>
</html>
